//-----------------------------------------------------------------------------------
// Enum Declaration Section
//-----------------------------------------------------------------------------------
export enum <%= classify(name) %>
{

}