//-----------------------------------------------------------------------------------
// Imports Section (Angular)
//-----------------------------------------------------------------------------------
import { Injectable }                     from '@angular/core';
import { HttpClient }                     from '@angular/common/http';

//-----------------------------------------------------------------------------------
// Imports Section (Angular Router)
//-----------------------------------------------------------------------------------
import { ActivatedRouteSnapshot }         from '@angular/router';
import { Resolve }                        from '@angular/router';
import { RouterStateSnapshot }            from '@angular/router';

//-----------------------------------------------------------------------------------
// Imports Section (RxJS)
//-----------------------------------------------------------------------------------
import { BehaviorSubject }                from 'rxjs';
import { Observable }                     from 'rxjs';


//-----------------------------------------------------------------------------------
// Service Attribute Section
//-----------------------------------------------------------------------------------
@Injectable({
    providedIn  : 'root'
})
//-----------------------------------------------------------------------------------
// Service Class Section
//-----------------------------------------------------------------------------------
export class <%= classify(name) %>Service implements Resolve<any>
{
    //-------------------------------------------------------------------------------
    // Public Fields Section
    //-------------------------------------------------------------------------------


    //-------------------------------------------------------------------------------
    // Private Fields Section
    //-------------------------------------------------------------------------------
    private _httpClient            : HttpClient;


    //-------------------------------------------------------------------------------
    // Constructor Method Section
    //-------------------------------------------------------------------------------
    constructor(
        pHttpClient                : HttpClient
    )
    {
        //Params
        this._httpClient            = pHttpClient;


    }


    //-------------------------------------------------------------------------------
    // Route Resolve Execution Method Section
    //-------------------------------------------------------------------------------
    resolve(
        route: ActivatedRouteSnapshot, 
        state: RouterStateSnapshot
    ) : Observable<any> | Promise<any> | any
    {
        return new Promise((resolve, reject) => {

            Promise.all([
                // Add get data operations here...

            ]).then(
                () => {
                    resolve();
                },
                reject
            );

        });
    }


    //-------------------------------------------------------------------------------
    // Public Methods Section
    //-------------------------------------------------------------------------------


    //-------------------------------------------------------------------------------
    // Private Methods Section
    //-------------------------------------------------------------------------------

}
