//--------------------------------------------------------------------------------------
// Imports Section (Angular)
//--------------------------------------------------------------------------------------
import { NgModule }                 from '@angular/core';

//--------------------------------------------------------------------------------------
// Imports Section (Shared)
//--------------------------------------------------------------------------------------
import { SharedModule }             from '../_shared/_shared.module';

//--------------------------------------------------------------------------------------
// Imports Section (Components)
//--------------------------------------------------------------------------------------


//--------------------------------------------------------------------------------------
// Routing mModule
//--------------------------------------------------------------------------------------
import { <%= classify(name) %>RoutingModule }     from 'app/<%= dasherize(name) %>/routes/<%= dasherize(name) %>-routing.module';


//--------------------------------------------------------------------------------------
// Module Configuration Section
//--------------------------------------------------------------------------------------
@NgModule({
    declarations: [

    ],
    imports     : [
        
        SharedModule,
        <%= classify(name) %>RoutingModule

    ]
})
//--------------------------------------------------------------------------------------
// Module Class Section
//--------------------------------------------------------------------------------------
export class <%= classify(name) %>Module
{
}
