//-----------------------------------------------------------------------------------
// Imports Section
//-----------------------------------------------------------------------------------
import { Directive } from '@angular/core';

//-----------------------------------------------------------------------------------
// Directive Definition Section
//-----------------------------------------------------------------------------------
@Directive({
    selector    : '[<%= selector %>]'
})
//-----------------------------------------------------------------------------------
// Class Section
//-----------------------------------------------------------------------------------
export class <%= classify(name) %>Directive
{
    //-------------------------------------------------------------------------------
    // ViewChild Components
    //-------------------------------------------------------------------------------


    //-------------------------------------------------------------------------------
    // Public Fields Section
    //-------------------------------------------------------------------------------


    //-------------------------------------------------------------------------------
    // Private Fields Section
    //-------------------------------------------------------------------------------


    //-------------------------------------------------------------------------------
    // Constructor Method Section
    //-------------------------------------------------------------------------------
    constructor()
    {

    }


    //-------------------------------------------------------------------------------
    // Eventhandler Methods Section
    //-------------------------------------------------------------------------------


    //-------------------------------------------------------------------------------
    // Private Methods Section
    //-------------------------------------------------------------------------------

}
