//-----------------------------------------------------------------------------------
// Imports Section
//-----------------------------------------------------------------------------------
import { Component }                        from '@angular/core';
import { ViewChild }                        from '@angular/core';
import { Input }                            from '@angular/core';
import { Output }                           from '@angular/core';
import { OnInit }                           from '@angular/core';
import { OnDestroy }                        from '@angular/core';
import { <% if(!!viewEncapsulation) { %>ViewEncapsulation }<% }%>                from '@angular/core';


//-----------------------------------------------------------------------------------
// Component Declaration Section
//-----------------------------------------------------------------------------------
@Component({<% if(!skipSelector) {%>
    selector       : '<%= dasherize(name) %>',<%}%><% if(inlineTemplate) { %>
    template       : `
    <p>
        <%= dasherize(name) %> works!
    </p>
    `,<% } else { %>
    templateUrl    : './<%= dasherize(name) %>.component.html',<% } if(inlineStyle) { %>
    styles         : []<% } else { %>
    styleUrls      : ['./<%= dasherize(name) %>.component.<%= style %>']<% } %><% if(!!viewEncapsulation) { %>,
    encapsulation  : ViewEncapsulation.<%= viewEncapsulation %><% } if (changeDetection !== 'Default') { %>,
    changeDetection: ChangeDetectionStrategy.<%= changeDetection %><% } %>
})
//-----------------------------------------------------------------------------------
// Page Class Section
//-----------------------------------------------------------------------------------
export class <%= classify(name) %>Component implements OnInit, OnDestroy
{
    //-------------------------------------------------------------------------------
    // ViewChild Components
    //-------------------------------------------------------------------------------


    //-------------------------------------------------------------------------------
    // Input Attributes Section
    //-------------------------------------------------------------------------------


    //-------------------------------------------------------------------------------
    // Output Events Section
    //-------------------------------------------------------------------------------


    //-------------------------------------------------------------------------------
    // Public Fields Section
    //-------------------------------------------------------------------------------


    //-------------------------------------------------------------------------------
    // Private Fields Section
    //-------------------------------------------------------------------------------


    //-------------------------------------------------------------------------------
    // Constructor Method Section
    //-------------------------------------------------------------------------------
    constructor()
    {

    }


    //-------------------------------------------------------------------------------
    // Lifecycle Events Section
    //-------------------------------------------------------------------------------
    ngOnInit()
    {

    }
    //-------------------------------------------------------------------------------
    ngOnDestroy()
    {

    }


    //-------------------------------------------------------------------------------
    // Eventhandler Methods Section
    //-------------------------------------------------------------------------------


    //-------------------------------------------------------------------------------
    // Private Methods Section
    //-------------------------------------------------------------------------------

}
