//--------------------------------------------------------------------------------------
// Imports Section 
//--------------------------------------------------------------------------------------

//--------------------------------------------------------------------------------------
// Model <% if(modelType === 'Interface') { %>Interface<% }  else { %>Class<% } %> Section
//--------------------------------------------------------------------------------------
export <% if(modelType === 'Interface') { %>interface<% }  else { %>class<% } %> <% if(modelType === 'Interface') { %>I<% }%><%= classify(name) %><% if(modelDirection === 'Request') { %>Request<% }  else { %>Response<% } %>
{
    //----------------------------------------------------------------------------------
    // Public Properties Section 
    //----------------------------------------------------------------------------------


    <% if(modelType === 'Class') { %>
    //----------------------------------------------------------------------------------
    // Constructor Method Section 
    //----------------------------------------------------------------------------------    
    constructor()
    {

    }
    <% }%>

}
